<h1>Article Show</h1>

<%#=@article.inspect %>


<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>


<h2>Comments</h2>
<!-- this render views/comments/_comment.html.erb -->
<%= render @article.comments %>

<!-- above render replace below code -->
<!-- <%#= @article.comments.each do |comment| %>
  <p>
    <strong>Commenter:</strong>
    <%#= comment.commenter %>
  </p>
 
  <p>
    <strong>Comment:</strong>
    <%#= comment.body %>
  </p>
% end % -->


<h2>Add a comment:</h2>
<%= render "comments/form" %>

<%#= form_for([@article, @article.comments.build]) do |f| %>
<!--   <p>
    <%#= f.label :commenter %><br>
    <%#= f.text_field :commenter %>
  </p>
  <p>
    <%#= f.label :body %><br>
    <%#= f.text_area :body %>
  </p>
  <p>
    <%#= f.submit %>
  </p> 
<% #end %>
-->

<%= link_to 'Back', articles_path %>
| <%= link_to 'Edit', edit_article_path(@article) %>
